{% extends "base.html" %}

{% block title %}Server error (500 error) - {{ block.super }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="twelvecol last">
            <h2>
                Server error (500 error)
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="ninecol">
            <p>
                Some is wrong with the page you requested. Please try again later.
            </p>
            <p>
                If this problem persists, please contact me via 
                <a href="mailto:ben.welsh@gmail.com">email</a>. Thank you.
            </p>
        </div>
        <div class="threecol last"></div>
    </div>

{% endblock %}
