<!doctype html>
<html lang="en">
    <head>
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        <meta charset="utf-8" />
        <title>{% block title %}PastPages{% endblock %}</title>
        <meta name="Author" content="pastpages.org" />
        <meta name="description" content="{% block description %}The news homepage archive{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}pastpages, news, homepages, screenshots, snapshots, archive{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block facebook-meta %}
        <meta property="fb:admins" content="1257725335"/>
        <meta property="fb:app_id" content="352154041499664"/>
        <meta property="og:site_name" content="PastPages"/>
        <meta property="og:type" content="article"/>
        {% endblock %}

        {% block extra-meta %}{% endblock %}
        
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" /><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
        <link type="text/css" href="{{ STATIC_URL }}css/jquery-ui/jquery-ui-1.8.14.custom.css" rel="stylesheet" />
        {% block extra-css %}{% endblock %}
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lazyload.min.js?v=3"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script> 
        {% block extra-js %}{% endblock %}

        {% block extra-rss %}
            <link rel="alternate"
                  href="{% url 'feeds-updates' %}"
                  type="application/rss+xml"
                  title="Latest Updates"
                  id="latest-updates" />
        {% endblock %}

        {% block extra-head %}{% endblock %}
        
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-30952190-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body {%block extra-body %}{% endblock %}>
        <div class="container" id="topbar">
            <div class="row">
                <div class="twelcol last"></div>
            </div>
        </div>
        {% block toolbar %}
        {% load archive_tags misc_tags %}
        {% get_daterange %}
        {% get_sitelist %}
        <div class="container" id="toolbar">
            <div class="row overflow">
            <div class="twelcol last">
                <div class="row overflow">
                    <div class="fourcol">
                        <div id="headline">
                            <a class="headline" href="/">
                                <h1>PastPages</h1>
                                <p>The news homepage archive</p>
                            </a>
                        </div>
                    </div>
                    <div class="eightcol last">
                        <ul id="tools">
                            <li>
                                <form id="sitepicker" name="sitepicker" style="display:inline;">
                                    <select name="sitelist">
                                        <option value="default" SELECTED>Select a site</option>
                                        {% for site in site_list %}
                                        <option value="{{ site.slug }}">{{ site }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                                <script type="text/javascript">
                                $(function() {
                                    $( "#sitepicker select" ).change(function() {
                                            var slug = $(this).val();
                                            if (slug != 'default') {
                                                window.location.href = '/site/' + slug + '/';
                                            }
                                        }
                                    );
                                });
                                </script>
                            </li>
                            <li>
                                <form name="input" id="globaldatepicker" class="datepicker">
                                    <input name="date" type="hidden">
                                </form>
                                <script type="text/javascript">
                                $(function() {
                                    $("#globaldatepicker input").datepicker({
                                        minDate: new {{ min_date.date|datejs }},
                                        maxDate: new {{ max_date.date|datejs }},
                                        buttonImage: '{{ STATIC_URL }}calendar.jpg',
                                        buttonImageOnly: true,
                                        showOn: 'both',
                                        onSelect: function(dateText, inst) {
                                            var parts = dateText.split("/");
                                            var dateStr = parts[2] + "/" + parts[0] + "/" + parts[1];
                                            var url = '/advanced-search/?site=&tag=&timezone=UTC' +
                                                '&start_date=' + dateStr + '&end_date=' + dateStr;
                                            window.location.href = url;
                                        }
                                    });
                                });
                                </script>
                            </li>
                            <li class="dropdown" id="more">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#more">
                                    More <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <li><a href="{% url 'archive-advanced-search' %}">Advanced search</a></li>
                                    <li><a href="http://blog.pastpages.org">Blog</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    <li><a href="{% url 'feeds-list' %}">Feeds</a></li>
                                </ul>
                            </li>
                            <script type="text/javascript">
                            $(function() {
                                $(".dropdown #more").dropdown();
                            });
                            </script>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="bottombar"></div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
        <script type="text/javascript">
              $(function() {
                  $("img.lazy").lazyload();
              });
        </script>
        <div id="footer" class="container">
            <div class="row">
                <div class="twelvecol">
                    Updated hourly.
                    <a href="{% url 'about' %}">Read all about it</a>.
                </div>
            </div>
        </div>
        {% endblock %}
        <script type="text/javascript">
          var _sf_async_config = { uid: 13068, domain: 'pastpages.org' };
          (function() {
            function loadChartbeat() {
              window._sf_endpt = (new Date()).getTime();
              var e = document.createElement('script');
              e.setAttribute('language', 'javascript');
              e.setAttribute('type', 'text/javascript');
              e.setAttribute('src',
                (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
                "js/chartbeat.js");
              document.body.appendChild(e);
            };
            var oldonload = window.onload;
            window.onload = (typeof window.onload != 'function') ?
              loadChartbeat : function() { oldonload(); loadChartbeat(); };
          })();
        </script>
    </body>
</html>
