{% extends "base.html" %}

{% block title %}About {{ block.super }}{% endblock %}

{% block extra-css %}
<style type="text/css">
h1 {
    margin: 25px 0 0 0;
}
h5 {
    font-size:18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
</style>
{% endblock %}

{% block toolbar %}{% endblock %}
{% block headline %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="threecol"></div>
        <div class="sixcol">
            <h1>About</h1>
            <h5>The story of <a href="/">PastPages</a></h5>
        </div>
        <div class="twocol last"></div>
    </div>

    <div class="row">
        <div class="threecol"></div>
        <div class="wall sixcol">
            <p>I cre&shy;ated <a href="/">PastPages</a> be&shy;cause I think it ought to ex&shy;ist. The shift&shy;ing homepages of me&shy;dia sites should be saved so they can be stud&shy;ied.</p>

            <p>I have no plans to make a profit. The site was launched using my own time and money, and it is supported
            by <a href="{% url 'champions' %}">a network of individual donors</a>. The code that powers it is <a href="https://github.com/pastpages/pastpages.org">open-source</a>.</p>
            <p>It is also a work in progress. In the near future, I hope to greatly expand the number of sites
            in the archive and make many other improvements.</p>
            <p>Finally, I am the editor and the publisher. If you dislike something about the site, <a href="mailto:ben.welsh@gmail.com">contact me</a>.</p>
            <p style="text-align:right;">&mdash; <a rel="author" href="http://palewi.re/who-is-ben-welsh/">Ben Welsh</a></p>
        </div>
        <div class="twocol last"></div>
    </div>

{% endblock %}
