{% extends "base.html" %}
{% load greeking_tags tz %}

{% block title %}Advanced search of {{ block.super }}{% endblock %}

{% block facebook-meta %}
    {{ block.super }}
    <meta property="og:title" content="Advanced search"/>
    <meta property="og:url" content="http://{{ site }}{% url archive-advanced-search %}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="twelvecol last">
                <h2>
                    Advanced search
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="sixcol">
                <form id="advancedsearch" name="advancedsearch" method="get">
                    <fieldset>
                        <h4>Pick a site or tag</h4>
                        <ul class="select">
                            <li>
                                <label for="site">Site:</label>
                                <select name="site" id="site">
                                    <option></option>
                                    {% for obj in site_list %}
                                    <option {% ifequal obj.slug searched_site.slug %}selected="selected"{% endifequal %}
                                        value="{{ obj.slug }}">{{ obj }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li>
                                <label for="tag">Tag:</label>
                                <select name="tag" id="tag">
                                    <option value=""></option>
                                    {% for obj in tag_list %}
                                    <option {% ifequal obj.slug tag.slug %}selected="selected"{% endifequal %}
                                        value="{{ obj.slug }}">{{ obj }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>
                        <h4>Pick a start and end date</h4>
                        <ul class="dates">
                            <li>
                                <label for="start_date">Start date:</label>
                                <input type="text" name="start_date" id="start_date"
                                    onFocus="if (this.value === 'YYYY/MM/DD') {this.value = '';}"
                                    value="{% if start_date %}{{ start_date }}{% else %}YYYY/MM/DD{% endif %}" />
                            </li>
                            <li>
                                <label for="end_date">End date:</label>
                                <input type="text" name="end_date" id="end_date"
                                    onFocus="if (this.value === 'YYYY/MM/DD') {this.value = '';}"
                                    value="{% if end_date %}{{ end_date }}{% else %}YYYY/MM/DD{% endif %}" />
                            </li>
                            <li>
                                <label for="time_zone">Time zone:</label>
                                <select name="timezone" id="timezone">
                                    {% for obj in timezone_list %}
                                    <option {% ifequal obj timezone %}selected="selected"{% endifequal %}
                                        value="{{ obj }}">{{ obj }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                            <li><small>Seven days is the maximum range allowed. Archive extends back to May 2012.</small></li>
                        </ul>
                        <input type="submit" value="Submit" />
                    </fieldset>
                </form>
            </div>
        </div>
        {% if has_error %}
            <div class="row">
                <div class="twelvecol last">
                    <span class="error">{{ error_message }}</span>
                </div>
            </div>
        {% endif %}
        {% if is_search and not has_error %}
            <div class="row">
                <div class="twelvecol last">
                    <h2>{% ifequal object_count 500 %}First {% endifequal %}{{ object_count }} result{{ object_count|pluralize }}</h2>
                </div>
            </div>
                {% for date, row_list in object_groups %}
                    <div class="row">
                        <div class="twelvecol">
                            <h5>{{ date|date:"l N j, Y" }}</h5>
                        </div>
                    </div>
                    {% for row in row_list %}
                    <div class="row nestedthumbs">
                    {% for obj in row %}
                        <div class="twocol {% if forloop.last %}last{% endif %}">
                            <a href="{{ obj.get_absolute_url }}">
                                <img {% if forloop.parentloop.parentloop.counter > 2 %}
                                     class="lazy"
                                     src="{{ STATIC_URL }}blank_300x251.jpg"
                                     data-original="{{ obj.crop.url_300x251 }}"
                                     {% else %}
                                     src="{{ obj.crop.url_300x251 }}"
                                     {% endif %}
                                     alt="{{ obj.timestamp|timezone:timezone|date:"l N j, Y, P e" }}"
                                     title="{{ obj.timestamp|timezone:timezone|date:"l N j, Y, P e" }}">
                                {% if forloop.parentloop.parentloop.counter > 2 %}
                                <noscript>
                                <img alt="{{ obj.timestamp|date:"l N j, Y, P e" }}"
                                     title="{{ obj.timestamp|date:"l N j, Y, P e" }}"
                                     src="{{ obj.crop.url_300x251 }}">
                                </noscript>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                    {% endfor %}
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}
