{% extends "base.html" %}

{% block title %}The PastPages API{% endblock %}

{% block body %}

    <div class="row">
        <div class="row">
            <div class="twelvecol last">
                <h2>
                    API
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="sevencol">
            <p>
                There is a machine-readable version of this site you can pull via this experimental API.
            </p>
            <p>
                It is currently free and requires no registration, however access is throttled 
                and the system is likely to change in the future. It was developed using <a href="http://django-tastypie.readthedocs.org/en/latest/">django-tastypie</a> and follows its common conventions.</p>
            <p>
                If you encounter any problems, please contact me via 
                <a href="mailto:ben.welsh@gmail.com">email</a>
                or <a href="https://github.com/pastpages/pastpages.org/pulls">file a ticket</a>. Thank you.
            </p>
        </div>
        <div class="fivecol last"></div>
    </div>

    <div class="row">
        <div class="sevencol">
            <h3>List endpoints</h3>
            <table>
                <tr>
                    <td>Screenshots</td>
                    <td>/api/beta/screenshots/</td>
                    <td><a target="_blank" href="/api/beta/screenshots/">Example</a>
                </tr>
                <tr>
                    <td>Sites</td>
                    <td>/api/beta/sites/</td>
                    <td><a target="_blank" href="/api/beta/sites/">Example</a>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>/api/beta/tags/</td>
                    <td><a target="_blank" href="/api/beta/tags/">Example</a>
                </tr>
                <tr>
                    <td>Updates</td>
                    <td>/api/beta/updates/</td>
                    <td><a target="_blank" href="/api/beta/updates/">Example</a>
                </tr>
            </table>
        </div>
        <div class="fivecol last"></div>
    </div>

    <div class="row">
        <div class="sevencol">
            <h3>Detail endpoints</h3>
            <table>
                <tr>
                    <td>Screenshots</td>
                    <td>/api/beta/screenshots/&lt;id&gt;/</td>
                    <td><a target="_blank" href="/api/beta/screenshots/532739/">Example</a>
                </tr>
                <tr>
                    <td>Sites</td>
                    <td>/api/beta/sites/&lt;id&gt;/</td>
                    <td><a target="_blank" href="/api/beta/sites/50/">Example</a>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>/api/beta/tags/&lt;id&gt;/</td>
                    <td><a target="_blank" href="/api/beta/tags/2/">Example</a>
                </tr>
                <tr>
                    <td>Updates</td>
                    <td>/api/beta/updates/&lt;id&gt;/</td>
                    <td><a target="_blank" href="/api/beta/updates/6240/">Example</a>
                </tr>
            </table>
        </div>
        <div class="fivecol last"></div>
    </div>

    <div class="row">
        <div class="sevencol">
            <h3>Pagination options</h3>
            <table>
                <tr>
                    <td>limit</td>
                    <td>The number of objects per page. 20 default. 100 max.</td>
                    <td><a target="_blank" href="/api/beta/screenshots/?limit=1">Example</a>
                </tr>
                <tr>
                    <td>offset</td>
                    <td>The index in the list where the response begins. Zero default.</td>
                    <td><a target="_blank" href="/api/beta/sites/?offset=50">Example</a>
                </tr>
            </table>
        </div>
        <div class="fivecol last"></div>
    </div>

    <div class="row">
        <div class="sevencol">
            <h3>Formatting options</h3>
            <table>
                <tr>
                    <td>format</td>
                    <td>Response type. Default json. Also jsonp, xml, plist, yaml.</td>
                    <td><a target="_blank" href="/api/beta/sites/?format=jsonp">Example</a>
                </tr>
                <tr>
                    <td>callback</td>
                    <td>Sets callback name for jsonp responses. Default is callback.</td>
                    <td><a target="_blank" href="/api/beta/sites/?format=jsonp&callback=foobar">Example</a>
                </tr>
            </table>
        </div>
        <div class="fivecol last"></div>
    </div>

    <div class="row">
        <div class="sevencol">
            <h3>Screenshot filters</h3>
            <table>
                <tr>
                    <td>site</td>
                    <td>Return only shots from provided site.</td>
                    <td><a target="_blank" href="/api/beta/screenshots/?site__slug=bbc">Example</a>
                </tr>
                <tr>
                    <td>timestamp</td>
                    <td>Return shots that match provided time, or that fit between two.</td>
                    <td><a target="_blank" href="/api/beta/screenshots/?site__slug=xinhua&timestamp__gte=2013-01-01%2000:00&timestamp__lte=2013-01-01%2001:00:00">Example</a>
                </tr>
            </table>
        </div>
        <div class="fivecol last"></div>
    </div>

{% endblock %}


