{% extends "base.html" %}
{% load greeking_tags humanize %}

{% block title %}{{ date|date:"l N j, Y" }} screenshots by {{ block.super }}{% endblock %}

{% block facebook-meta %}
    {{ block.super }}
    <meta property="og:description"
          content="An archive of news homepages taken this day." />
    <meta property="og:title" content="{{ date }}"/>
    <meta property="og:url" content="http://{{ site }}{% url archive-date-detail date.year date.month date.day %}"/>
    <meta property="og:image" content="{{ screenshot_groups.0.1.0.0.crop.url_300x251 }}"/>
{% endblock %}

{% block body %}
    <div class="container detail">
        <div class="row">
            <div class="twelvecol">
                <h2>{{ date|date:"l N j, Y" }}</h2>
            </div>
        </div>
        <div class="container">
            {% for update, screenshots in screenshot_groups %}
                <div class="row timestamp">
                    <a href="{{ update.get_absolute_url }}">
                        {{ update.start|date:"P e"|capfirst }}
                    </a>
                </div>
                {% for row in screenshots %}
                    <div class="row">
                        <div class="ninecol last">
                        {% for obj in row %}
                            {% if obj.has_crop %}
                                <a href="{{ obj.get_absolute_url }}">
                                    <img {% if forloop.parentloop.parentloop.counter > 2 %}
                                         class="lazy" src="{{ STATIC_URL }}blank_101x84.jpg"
                                         data-original="{{ obj.crop.url_101x84 }}"
                                         {% else %}
                                         src="{{ obj.crop.url_101x84 }}"
                                         {% endif %}
                                         alt="{{ obj.site }}">
                                    {% if forloop.parentloop.parentloop.counter > 2 %}
                                    <noscript><img src="{{ obj.crop.url_3101x84 }}"
                                                   alt="{{ obj.site }}"></noscript>
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
