{% load i18n admin_static admin_modify humanize tz misc_tags %}
<html>
<body>
<style type="text/css">
    table {
        border-collapse:collapse;
    }
    table, th, td
    {
        border: 1px solid black;
        padding: 5px;
        margin: 5px;
        line-height:140%;
        text-align:left;
    }
    td.tardy {
        background-color:red;
        color:white;
    }
</style>
<table>
    <thead>
        <tr>
            <th>Site</th>
            <th>Screenshots</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in site_list %}
        <tr>
            <td>{{ obj.name }}</td>
            <td>{{ obj.total_screenshots|intcomma }}</td>
            <td {% if obj.tardy %}class="tardy"{% endif %}>{{ obj.last_screenshot|timedelta }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
