{% extends "base.html" %}
{% load greeking_tags tz %}

{% block title %}{{ object.site }} at  {{ object.timestamp|date:"N j, Y, P e" }} screenshot by {{ block.super }}{% endblock %}

{% block facebook-meta %}
    {{ block.super }}
    <meta property="og:description"
          content="A screenshot of {{ object.site.url }}" />
    <meta property="og:title" content="{{ object.site }} at {{ object.timestamp|date:"N j, Y, P" }}"/>
    <meta property="og:url" content="http://{{ site }}{{ object.get_absolute_url }}"/>
    <meta property="og:image" content="{{ object.crop.url_300x251 }}"/>
    <link rel="canonical" href="http://{{ site }}{{ object.get_absolute_url }}"/>
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@Past_Pages">
    <meta name="twitter:creator" content="@Past_Pages">
    <meta name="twitter:domain" content="pastpages.org">
    <meta name="twitter:title" content="{{ object.site }} at {{ object.timestamp|date:"N j, Y, P" }}">
    <meta name="twitter:description" content="A screenshot of {{ object.site.url }}">
    <meta name="twitter:image:src" content="{{ object.crop.url_300x251 }}">
{% endblock %}

{% block extra-css %}
<style type="text/css">
    .pad5vert { padding: 5px 0; }
</style>
{% endblock %}

{% block body %}
    <div class="container detail">
        <div class="row">
            <div class="twelvecol last">
                <h2>
                    <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                    archived on
                    <a href="{{ object.update.get_absolute_url }}">{{ object.timestamp|date:"l N j, Y \a\t P e" }}</a>
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="twelvecol last">
            <p>
            {% if object.site.timezone %}
            That was {{ object.timestamp|timezone:object.site.timezone|date:"P" }} local time
            {% if object.site.hometown %} in {{ object.site.hometown }}{% endif %}.
            {% endif %}
                <a onclick="$('#citation').dialog({width: 500, title:'Citations', resizable: false })">Citations</a>.
                {% if object.has_html %}
                <a rel="nofollow" href="{{ object.html.url }}">HTML</a>.
                {% endif %}
            </p>
            </div>
        </div>

        <div id="citation" style="display:none;">
            <h5>MLA</h5>
            <small>{{ object.mla_citation|safe }}</small>
            <br><br>
            <h5>APA</h5>
            <small>{{ object.apa_citation|safe }}</small>
            <br><br>
            <h5>Chicago</h5>
            <small>{{ object.chicago_citation|safe }}</small>
            <br><br>
            <h5>Wikipedia</h5>
            <small>{{ object.wikipedia_citation|safe }}</small>
        </div>

        <div class="pad5vert"></div>

        <div class="row">
            <div class="twocol">
                {% if prev %}<a href="{{ prev.get_absolute_url }}">&laquo; Previous</a>{% endif %}
            </div>
            <div class="eightcol"></div>
            <div class="twocol last">
                {% if next %}<a href="{{ next.get_absolute_url }}">Next &raquo;</a>{% endif %}
            </div>
        </div>

        <div class="pad5vert"></div>

        <div class="row">
            <div class="twelvecol last">
                <img title="{{ object.site }} at {{ object.timestamp|date:"l N j, Y, P e" }}"
                     alt="{{ object.site }} at {{ object.timestamp|date:"l N j, Y, P e" }}"
                     src="{% if object.get_internetarchive_image_url %}{{ object.get_internetarchive_image_url }}{% else %}{{ object.image.url }}{% endif %}">
            </div>
        </div>
    </div>
{% endblock %}
