{% extends "base.html" %}
{% load greeking_tags %}

{% block title %}{{ object.site }} at  {{ object.update.start|date:"N j, Y, P" }} screenshot by {{ block.super }}{% endblock %}

{% block facebook-meta %}
    {{ block.super }}
    <meta property="og:description"
          content="A screenshot of {{ object.site.url }}" />
    <meta property="og:title" content="{{ object.site }} at {{ object.timestamp|date:"N j, Y, P" }}"/>
    <meta property="og:url" content="http://{{ site }}{{ object.get_absolute_url }}"/>
    <meta property="og:image" content="{{ object.crop.url_300x251 }}"/>
{% endblock %}


{% block body %}
    <div class="container detail">
        <div class="row">
            <div class="twelvecol last">
                <h2>
                    <a href="{{ object.site.get_absolute_url }}">{{ object.site }}</a>
                    / 
                    <a href="{{ object.update.get_absolute_url }}">{{ object.timestamp|date:"l N j, Y, P e" }}</a>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <div class="twocol" style="float:right;">
                    {% if next %}<a href="{{ next.get_absolute_url }}">Next &raquo;</a>{% endif %}
                </div>
                <div class="twocol">
                    {% if prev %}<a href="{{ prev.get_absolute_url }}">&laquo; Previous</a>{% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelvecol last">
                <img title="{{ object.site }} at {{ object.timestamp|date:"l N j, Y, P e" }}"
                     alt="{{ object.site }} at {{ object.timestamp|date:"l N j, Y, P e" }}"
                     src="{{ object.image.url }}">
            </div>
        </div>
    </div>
{% endblock %}
