{% extends "base.html" %}
{% load i18n admin_static admin_modify humanize tz misc_tags %}

{% block title %}{{ block.super }} Review{% endblock %}

{% block extra-css %}
<style type="text/css">
    table {
        border-collapse:collapse;
        margin: 10px !important;
        width:95%;
    }
    th, td
    {
        border: 1px solid black;
        padding: 5px !important;
        margin: 5px !important;
        line-height:140%;
        text-align:left;
    }
    td.tardy {
        background-color:red;
        color:white;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #ddd;
      shape-rendering: crispEdges;
    }
    .bar {
      fill: #e5e5e5;
    }
    .axis {
        font-family: monospace;
        font-size:12px;
     }
    .x.axis path {
      display: none;
    }
    div.tooltip {
      position: absolute;
      text-align: center;
      padding: 2px;
      font: 12px monospace;
      background: white;
      border: 1px #ddd solid;
      border-radius: 2px;
      pointer-events: none;
    }
    .bar.selected {
        fill:#0000FF;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}js/d3.v3.min.js" type="text/javascript"></script>
{% endblock %}

{% block body-bottom %}
    <script type="text/javascript">
        var data = [{% for obj in update_list %}
            { 
                id: {{ obj.id }},
                start: "{{ obj.start|date:'Y-m-d H' }}",
                hed: "{{ obj.screenshots|intcomma }} at {{ obj.start|date:'P \o\n N j' }}",
                url: "{% url 'archive-update-detail' obj.id %}",
                screenshots: {{ obj.screenshots }}
            }{% if not forloop.last %},{% endif %}
        {% endfor %}];

    var div = d3.select("body").append("div")   
        .attr("class", "tooltip")               
        .style("opacity", 0);

    function showTooltip(d, i) {
        var bar = d3.select("#bar-" + d.id);
        bar.attr("class", "bar selected")
        div.transition()
            .duration(200)
            .style("opacity", .9);
        div.html(d.hed)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
      }

      function hideTooltip(d, i) {
        var bar = d3.select("#bar-" + d.id);
        bar.attr("class", "bar")
        div.transition()
            .duration(500)
            .style("opacity", 0);
      }

        var parseDate = d3.time.format("%Y-%m-%d %H").parse;

        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 960 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var minDate = d3.min(data, function(d) { return parseDate(d.start); });
        var maxDate = d3.max(data, function(d) { return parseDate(d.start); });
        var maxScreenshots = d3.max(data, function(d) { return d.screenshots; });

        var x = d3.time.scale()
            .range([0, width])
            .domain([minDate, maxDate]);

        var y = d3.scale.linear()
            .range([height, 0])
            .domain([0, maxScreenshots]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(function (d) { return ''; });

        var svg = d3.select("#update-chart")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 10)
              .attr("dy", "-1.7em")
              .attr("x", -85)
              .style("text-anchor", "end")
              .text("Screenshots");

          svg.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("id", function(d) { return "bar-" + d.id; })
              .attr("x", function(d, i) { return x(parseDate(d.start)); })
              .attr("width", 18)
              .attr("y", function(d) { return y(d.screenshots); })
              .attr("height", function(d) { return height - y(d.screenshots); })
              .on("mouseover", showTooltip)
              .on("mouseout", hideTooltip)
              .on("click", function(d) { window.location = d.url; });


    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelvecol last">
        <h2>
            Status
        </h2>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <p>Archiving {{ site_list|length }} sites each hour as far back as {{ min_date.date }} for a total of {{ screenshot_total|intcomma }} screenshots.</p>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <h3>Recent updates</h3>
        <div id="update-chart"></div>
    </div>
</div>


<div class="row">
    <div class="twelvecol last">
        <h3>Sites</h3>
        <table>
            <thead>
                <tr>
                    <th>Site</th>
                    <th>First screenshot</th>
                    <th>Last screenshot</th>
                    <th>Screenshots</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in site_list %}
                <tr>
                    <td><a href="{% url 'archive-site-detail' obj.slug %}">{{ obj.name }}</a></td>
                    <td>{{ obj.first_screenshot }}</td>
                    <td {% if obj.tardy %}class="tardy"{% endif %}>{{ obj.last_screenshot|timedelta }}</td>
                    <td>{{ obj.total_screenshots|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
