{% extends "base.html" %}
{% load i18n admin_static admin_modify humanize tz misc_tags %}

{% block title %}{{ block.super }} Status{% endblock %}

{% block extra-css %}
<style type="text/css">
    td.tardy {
        background-color:red;
        color:white;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #ddd;
      shape-rendering: crispEdges;
    }
    .bar {
      fill: #e5e5e5;
    }
    .axis {
        font-family: monospace;
        font-size:12px;
     }
    .x.axis path {
      display: none;
    }
    div.tooltip {
      position: absolute;
      text-align: center;
      padding: 2px;
      font: 12px monospace;
      background: white;
      border: 1px #ddd solid;
      border-radius: 2px;
      pointer-events: none;
    }
    .bar.selected {
        fill:#0000FF;
        cursor: pointer;
    }
</style>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}js/d3.v3.min.js" type="text/javascript"></script>
{% endblock %}

{% block body-bottom %}
    <script type="text/javascript">
        var data = [{% for obj in update_list %}
            {
                id: {{ obj.id }},
                day: "{{ obj.start|date:'M d' }}",
                hour: "{{ obj.start|date:'gA' }}",
                hed: "{{ obj.screenshots|intcomma }} at {{ obj.start|date:'P \o\n N j' }}",
                url: "{% url 'archive-update-detail' obj.id %}",
                screenshots: {{ obj.screenshots }}
            }{% if not forloop.last %},{% endif %}
        {% endfor %}];

    var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("opacity", 0);

    function showTooltip(d, i) {
        var bar = d3.select("#bar-" + d.id);
        bar.attr("class", "bar selected")
        div.transition()
            .duration(200)
            .style("opacity", .9);
        div.html(d.hed)
            .style("left", (d3.event.pageX) + "px")
            .style("top", (d3.event.pageY - 28) + "px");
      }

      function hideTooltip(d, i) {
        var bar = d3.select("#bar-" + d.id);
        bar.attr("class", "bar")
        div.transition()
            .duration(500)
            .style("opacity", 0);
      }

        var parseDate = d3.time.format("%Y-%m-%d %H").parse;

        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 960 - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var maxScreenshots = d3.max(data, function(d) { return d.screenshots; });

        var x = d3.scale.ordinal()
            .domain(d3.range(data.length))
            .rangeBands([0, width-margin.right-margin.left], 0.025);

        var y = d3.scale.linear()
            .range([height, 0])
            .domain([0, maxScreenshots]);

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom")
            .tickValues(x.domain().filter(function(i) {
                if ($.inArray(data[i].hour, ['12AM']) > -1) {
                    return i;
                }
            }))
            .tickFormat(function(i) { return data[i].day });

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left")
            .tickFormat(function (d) { return ''; });

        var svg = d3.select("#update-chart")
            .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
            .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 10)
              .attr("dy", "-1.7em")
              .attr("x", -70)
              .style("text-anchor", "end")
              .text("Screenshots");

          svg.selectAll(".bar")
              .data(data)
            .enter().append("rect")
              .attr("class", "bar")
              .attr("id", function(d) { return "bar-" + d.id; })
              .attr("x", function(d, i) { return x(i); })
              .attr("width", x.rangeBand())
              .attr("y", function(d) { return y(d.screenshots); })
              .attr("height", function(d) { return height - y(d.screenshots); })
              .on("mouseover", showTooltip)
              .on("mouseout", hideTooltip)
              .on("click", function(d) { window.location = d.url; });
    </script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="twelvecol last">
        <h2>
            Status
        </h2>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <p>Archiving {{ site_count }} sites each hour as far back as {{ min_date.date }} for a total of {{ screenshot_total|intcomma }} screenshots.</p>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <table class="stacked-responsive">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rackspace</td>
                    <td>{{ rackspace|intcomma }}</td>
                </tr>
                <tr>
                    <td>Internet Archive</td>
                    <td>{{ ia|intcomma }}</td>
                </tr>
                <tr>
                    <td>Both</td>
                    <td>{{ rackspace_and_ia|intcomma }}</td>
                </tr>
                <tr>
                    <td>Only Rackspace</td>
                    <td>{{ rackspace_not_ia|intcomma }}</td>
                </tr>
                <tr>
                    <td>Only Internet Archive</td>
                    <td>{{ ia_not_rackspace|intcomma }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <h3>Last {{ update_list|length }} updates</h3>
        <div id="update-chart" class="scroll-responsive"></div>
    </div>
</div>

<div class="row">
    <div class="twelvecol last">
        <h3>Sites</h3>
        <table class="stacked-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>First screenshot</th>
                    <th>Last screenshot</th>
                    <th>Images</th>
                    <th>HTML</th>
                </tr>
            </thead>
            <tbody>
            {% for obj in site_list %}
                <tr>
                    <td data-title="Name"><a href="{% url 'archive-site-detail' obj.slug %}">{{ obj.name }}</a></td>
                    <td data-title="First">{{ obj.first_screenshot.date }}</td>
                    <td data-title="Latest" {% if obj.tardy %}class="tardy"{% endif %}>{{ obj.last_screenshot|timedelta }}</td>
                    <td data-title="Images">{{ obj.total_images|intcomma }}</td>
                    <td data-title="HTML">{{ obj.total_html|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
