{% extends "base.html" %}
{% load greeking_tags %}

{% block title %}{{ object.start|date:"N j, Y, P" }} screenshots by {{ block.super }}{% endblock %}

{% block facebook-meta %}
    {{ block.super }}
    <meta property="og:description"
          content="An archive of news homepages." />
    <meta property="og:title" content="{{ object.start|date:"N j, Y, P" }}"/>
    <meta property="og:url" content="http://{{ site }}{{ object.get_absolute_url }}"/>
    <meta property="og:image" content="{{ screenshot_groups.0.0.get_internetarchive_crop_url }}"/>
    <link rel="canonical" href="http://{{ site }}{{ object.get_absolute_url }}"/>
{% endblock %}

{% block body %}
    <div class="container detail" style="margin-bottom:10px;">
        <div class="row">
            <div class="twelvecol">
                <h2>{{ object.start|date:"l N j, Y, P e" }}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        {% for row in screenshot_groups %}
        <div class="row screenshots">
            {% for obj in row %}
            <div class="threecol {% if forloop.last %}last{% endif %}">
                <a href="{{ obj.get_absolute_url }}">
                    <img {% if forloop.parentloop.counter > 4 %}
                         class="lazy" src="{{ STATIC_URL }}blank_300x251.jpg"
                         data-original="{% if obj.get_internetarchive_crop_url %}{{ obj.get_internetarchive_crop_url }}{% else %}}{{ obj.crop.url_300x251 }}{% endif %}"
                         {% else %}
                         src="{% if obj.get_internetarchive_crop_url %}{{ obj.get_internetarchive_crop_url }}{% else %}}{{ obj.crop.url_300x251 }}{% endif %}"
                         {% endif %}
                         alt="{{ obj.site }}">
                    {% if forloop.parentloop.counter > 12 %}
                    <noscript><img src="{% if obj.get_internetarchive_crop_url %}{{ obj.get_internetarchive_crop_url }}{% else %}}{{ obj.crop.url_300x251 }}{% endif %}" alt="{{ obj.site }}"></noscript>
                    {% endif %}
                </a>
                <a style="display:block;" href="{{ obj.site.get_absolute_url }}">{{ obj.site }}</a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

    </div>
{% endblock %}
