@font-face {
    font-family: 'TheanoDidotRegular';
    src: url('http://c330477.r77.cf1.rackcdn.com/static/fonts/TheanoDidot-Regular-webfont.eot');
    src: url('http://c330477.r77.cf1.rackcdn.com/static/fonts/TheanoDidot-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://c330477.r77.cf1.rackcdn.com/static/fonts/TheanoDidot-Regular-webfont.woff') format('woff'),
         url('http://c330477.r77.cf1.rackcdn.com/static/fonts/TheanoDidot-Regular-webfont.ttf') format('truetype'),
         url('http://c330477.r77.cf1.rackcdn.com/static/fonts/TheanoDidot-Regular-webfont.svg#TheanoDidotRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
