@import url("1140.css");
@import url("fonts.css");
h1, h2, h3, h4, h5, b { font-weight:normal; }
h1 {
    text-transform:uppercase;
    font-size: 32px;
    line-height:120%;
}
h2 {
    line-height:120%;
}
body {
    font-family: "TheanoDidotRegular", Arial, sans-serif;
    font-size:18px;
    line-height:120%;
    color:black;
}
a {
    color: #0000FF;
    text-decoration:underline;
}
a:visited {
    color: #800080;
}
a:hover {
    text-decoration:none;
    cursor: pointer;
}
a:active {
    color: red;
}
small {
    font-size:14px;
}
.container {
    clear:both;
}
.overflow {
    overflow:visible;
    clear:both;
}
div#topbar {
    border-bottom:9px solid #e5e5e5;
    margin:0 0 10px 0;
}
div.bottombar {
    clear:both;
    padding:5px 0;
    border-bottom:1px solid #e5e5e5;
    margin: 0 0 10px 0;
}
div#toolbar {
    padding: 10px 0;
    font-size: 16px;
    background-color: #ffffff;
    position:relative;
}
div#headline {
    width:275px;
    text-align:center;
}
div#headline h1 {
    font-size:2.75em;
    line-height:90%;
}
div#headline p {
    font-size:1.35em;
    white-space: nowrap;
}
div#headline a {
    text-decoration:none;
    color:black;
}
div#headline a:hover {
    text-decoration:none;
    cursor: pointer;
    color: gray;
}
div#toolbar ul#tools {
    text-align:right;
    float:right;
    display:inline;
    margin:30px 0 0 0;
}
div#toolbar ul#tools li {
    display:inline;
    list-style-type: none;
    margin:5px;
}
div#toolbar #datepicker {
    width:100px;
}
div#toolbar img {
    vertical-align:bottom;
}
div#toolbar select {
    width: 180px;
}
div#toolbar a#advancedsearch {
    text-decoration:underline;
    font-size:12px;
}
div#toolbar .dropdown {
    font-size:14px;
    position:relative;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #0000FF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.4;
  filter: alpha(opacity=40);
  margin-top: 12px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 4px 0;
  margin: 4px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
}
.dropdown-menu li {
    margin:0 !important;
}
.open {
  *z-index: 1000;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-menu a {
  display: block;
  padding: 5px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  white-space: nowrap;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  text-decoration: none;
}
div.screenshots {
    margin: 0 auto 30px auto;
}
div.nestedthumbs {
    margin: 0 auto 20px auto;
}
div#sitetitle {
    margin: 0 auto 0 auto;
}
hr {
    margin:10px 0; 
    color: #CCC;
    background-color: #ccc;
}
div#sitetitle h3 {
    margin: 0 0 10px 0;
}
div.datestamp {
    font-size: 14px;
    text-align: right;
    margin-bottom: 10px;
    padding-right:10px;
}
div.timestamp {
    margin: 5px auto;
    font-size: 18px;
}
div#footer {
    margin: 10px 0;
    font-size: 16px;
    text-align:center;
}
div#footer .row {
    padding: 15px 0 30px 0;
    border-top: 1px solid #ccc;
}
form#advancedsearch {
    margin: 0 0 20px 0;
}
fieldset{
    padding: 10px;
    border: 1px solid #ccc;
    font-size:16px;
}
fieldset h4 {
    font-size:20px;
    margin: 5px 0 5px 0;
}
form#advancedsearch ul {
    margin: 10px 0 20px 0;
}
form#advancedsearch ul li {
    margin: 0 0 10px 0;
}
form#advancedsearch ul li label {
    margin: 0 5px 0 0;
}
span.error {
    margin:10px 0;
    color:red;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
}
